.main-box{
    width: 50%;
    height: 90vh;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 1px 7px 0px;
    position: relative;
    left: 20%;
}
/* h1{
    position: absolute;
    left: 30%;
} */
p{
    position: relative;
    left: 3%;
    top: 5%;
    font-size: 120%;
}
.header{
    position: absolute;
    left: 30%;
}
label{
    display: block;
}
.inner-header{
    border-bottom: 2px solid black;
}